/* CSS declarations go here */
html, body {
	background-color: #585B63;
	width: auto;
	overflow-x: hidden;
}

.round-display {
	background-color: #333;
    background: -webkit-linear-gradient(#333, #615959); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333, #615959); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333, #615959); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333, #615959); /* Standard syntax */
	color:#fff;
	padding-left: 30px;
}

.timer-box {
	padding: 10px;
	background-color: #B03030;
	height: 80px;
	min-width: 260px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, .7);
}

.time-box {
	display: inline-block;
	float: left;
}

.control-box {
	display: inline-block;
	float: right;
}

.timer-minutes, .timer-seconds {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin: 5px;
	background-color: #9C3A3A;
	color: #fff;
	display: inline-block;
	text-align: center;
	font-size: 24px;
}

.times-up {
	height: 50px;
	line-height: 50px;
	margin: 5px;
	background-color: #9C3A3A;
	color: #fff;
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 24px;
}

.timer-control {
	color: #fff;
	background-color: #77A5D9;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin: 5px;
	text-align: center;
	position: relative;
	top: 30px;
	-ms-transform: translateY(-30px);
   	-webkit-transform: translateY(-30px);
	transform: translateY(-30px);
	font-size: 18px;
	border-radius: 50%;
	-moz-box-shadow:     inset -1px -1px 3px #333;
  	-webkit-box-shadow:  inset -1px -1px 3px #333;
  	box-shadow: 		 inset -1px -1px 3px #333;
  	display: inline-block;
}

.timer-control:active {
	-moz-box-shadow:     inset 0px 0px 2px #333;
  	-webkit-box-shadow:  inset 0px 0px 2px #333;
  	box-shadow: 		 inset 0px 0px 2px #333;
}

.hostages {
	padding-left: 30px;
	color: #fff;
}

.hostage {
	font-size: 100px;
	color: #878C99;
	padding: 7px;
}

.next-round-button {
	background-color: steelblue;
	float: right;
	position: absolute;
	right: 20px;
	bottom: 30px;
	width: 150px;
	height: 40px;
	color: #fff;
}